*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 30px;
}

.post{
    width: 500px;
    height: 500px;
    margin-left: 10px;
    margin-top: 10px;
}

.image-background{
    height: 300px;
    width: 500px;
    background-color: black;
    background-image: url(https://i.cbc.ca/1.7065808.1703110915!/fileImage/httpImage/image.JPG_gen/derivatives/16x9_780/usa-trump-colorado.JPG);
    background-size: cover;
    position: relative;
}


.viewer {
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.text{
    font-size: 25px;
    position: absolute;
    left: 60px;
    bottom: 13px;
    color: white;
}

.rectangle{
    opacity: 0.8;
    background-color: black;
    height: 55px;
    width: 500px;
    position: absolute;
    bottom: 0px;
}

