*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

.picture{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2%;
    width: 600px;
    height: 600px;
    background-image: url(https://assetsio.reedpopcdn.com/Honkai-Star-Rail-Ruan-Mei-materials%2C-kit%2C-and-Eidolons-cover.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp);
    background-size: cover;
    position: relative;
}

.picture h1{
    margin-left: 20px;
    position: absolute;
    bottom: 70px;
}

.picture p{
    margin-left: 20px;
    position: absolute;
    opacity: 0.8;
    bottom: 40px;
}

.picture .square1{
    background-color: lightgray;
    opacity: 0.2;
    border-radius: 15%;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50px;
    left: 70px;
}

.picture .image{
    margin-top: 10px;
    margin-left: 10px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    background-size: cover;
}

.picture .square2{
    background-color: lightgray;
    opacity: 0.2;
    border-radius: 15%;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 200px;
}

.picture .gelid{
    position: absolute;
    width: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    right: 30px;
    top: 100px;
}

.picture .immortal{
    position: absolute;
    width: 70px;
    border-radius: 20%;
    right: 30px;
    top: 200px;
}

.picture .immortal2{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 20%;
    right: 30px;
    top: 300px;
}